@{
    ViewBag.Title = "Error";
}

<h3 style="color:red">@ViewBag.ErrorTitle</h3>
<br />
<h6 style="color:red">@ViewBag.ErrorMessage</h6>

@*<h3>
    An occured while processing your reques.
    The support team is notified and we are working on the fix
</h3>
<h5>
    please contact us on adv@gmail.com
</h5>*@

